venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
crawl_status.json
crawl_log.json
crawler/html_dump.txt
crawler/crawl_result.txt
crawler/standing_result.txt
crawler/result.txt
crawler/su_result.txt
*.log
.env
su_result.txt
ml_result.txt
ml_models/
